-- sample config file
a = 5
b = 200
c = "Hello, world!"
if a < 100 then
   d = {x=a, "boo"}
else 
   d = {x=10, "foo"}
end

function square(x)
   return x*x
end

function miconf_dname_hook(level,path,file) 
   io.stderr:write("DIR: ".."level="..level..", path="..path..(file and (", file="..file) or "").."\n")
   return path..(file and ("/"..file) or "")
end
--[[
function miconf_fname_hook(level,pattern,path,file,type) 
   io.stderr:write("FILE: ".."level="..level..", pattern="..pattern..", path="..path..", file="..file..", type="..type.."\n")
   s,cnt = file:gsub(pattern,"")
   if s and cnt==1 and s:len()>0 then
      return path..(file and ("/"..file) or ""), path.."/"..s
   else 
      return nil,nil
   end
end
--]]
