#sample config file
a = a if 'a' in locals() else 5
b = 200
c = 'Hello, world!'
if a < 100:
   d = dict(x=a, z='boo')
else
   d = dict(x=10, z='foo')

def square(x)
   return x*x

'''
def piconf_dname_hook(level,path,fname=None):
   return path + (('/'+fname) if fname else '')

def piconf_markup_hook():
   return [3,ord("="),ord("<"),ord(">")]

def piconf_fname_hook(level,pattern,path,fname=None,ftype,replace)
   ofname,cnt = re.subn(pattern,replace,fname,count=1)
   if ofname and cnt==1 and len(ofname)>0:
      return path + (('/'..fname) if fname else ''), path + '/' + ofname, piconf_markup_hook()
   else
      return nil,nil,nil
'''
